<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<body>
    <a href='http://localhost:3000/register'>
        <button>
            register
        </button>
    </a>
    <a href='http://localhost:3000/login'>
        <button>
            login
        </button>
    </a>
</body>
</html>