<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<body>
    <form action="/register" method="post">
        <h2>register here</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="text" name="email" id="email" placeholder="Enter email">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="signup">
    </form>
</body>
</html>